/* Global styles*/

* {
    font-family: "Prata", serif;
    font-size: 17px;
    font-weight: 400;
    
}


body {
    margin: 0;
    background: url("../pictures/output-onlinepngtools (4).png");
    background-repeat: no-repeat;
    background-position: center 10%;
    background-size: 50%;
    background-color: white;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

h1,
h2 {
    margin: 0;
    margin-bottom: var(--spacing-2);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

li {
    margin: 3%;
}

li a {
    color: #004200;
}

nav,
footer,
header {
    background: none;
}


/* Navigation */

nav {
    margin-top: 30px;
    padding-top: 20px;
    height: 80px; 
    width: 100%;
    color: #FBFBFC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    height: 30px;
    margin: 10px 0;
    margin-left: 30px;
}

nav .links {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.links a {
    position: relative;
    margin: 15px;
    color: darkslategrey;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0px;
}

.links a::after {
    content: "";
    position: absolute;
    background-color: darkgreen;
    opacity: 0.5;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.links a:hover{
    color: black;
}

.links a:hover::after{
    width: 100%;
}

.threelines {
    margin: auto;
    margin-left: 10px;
    display: none;    
}

.threelines img {
    height: 30px;
    width: 40px;
    padding: 10px 5px;
}

/* @media only screen and (max-width: 768px) {
    .links a {
        display: none;
    }

    nav .threelines {
        display: inline-block;
    }

    h1 {
        font-size: 3rem;
    }

    nav button {
        display: none;
    }

} */

/* Main */

main {
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.portrait {
    width: 300px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
    margin-left: 200px;
}
  
.about-me-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
  
.about-me-text-container {
    margin-right: var(--spacing-3);
}

/* #map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
} */


/* Diff media resolution */

@media only screen and (max-width: 600px) {
    .about-me-container {
      flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .portrait {
      margin-left: 0;
    }
}

@media only screen and (max-width: 1440px) {
    body {
        background-position: center 10%;
        background-size: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        background-position: center 1%;
        background-size: 80%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-position: center 0%;
        background-size: 100%;
    }
}